<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="path" default="global_path" />
  <arg name="vel" default="5" />

  <node pkg="stanley" type="pure_pursuit.py" name="purepursuit_controller" args="$(arg path) $(arg vel)" output="screen"/>


  <node pkg="pure_pursuit" type="coordinate2pos" name="coordinate2pos" />
  <node pkg="utmk_coordinate" type="wgs84_to_utmk.py" name="wgs84_to_utmk" />

  <!-- for serial control -->
  <node pkg="race" type="serial_control_node" name="serial_control_node" />


</launch>
