<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- usb_cam multi node-->

  <!-- 위 -->
 <group ns="camera1">
  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="brightness" value="180"/>
    <param name="saturation" value="255"/>

  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image1" to="/camera1/usb_cam1/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>
 
<!-- 아래 -->
<group ns="camera2">
  <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="brightness" value="180"/>
    <param name="saturation" value="255"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image2" to="/camera2/usb_cam2/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>

  <!-- vision_distance -->
  <!-- <node pkg="vision_distance" type="delivery_mission.py" name="delivery_mission"/> -->
  
  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>
  
  <!-- for cam1 -->
  <!-- Console launch prefix -->
  <arg name="launch_first" default=""/>
  <arg name="image1" default="/camera1/usb_cam1/image_raw" /> 

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file"             default="$(find darknet_ros)/config/ros.yaml"/>
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3_traffic_light.yaml"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros1" file="$(arg ros_param_file)"/>
  <rosparam command="load" ns="darknet_ros1" file="$(arg network_param_file)"/>
  
  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros1" launch-prefix="$(arg launch_first)" respawn="true">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <remap from="camera/rgb/image_raw"  to="$(arg image1)" />
  </node>

  <!-- for cam2 -->
  <!-- Console launch prefix -->
  <arg name="launch_next" default=""/>
  <arg name="image2" default="/camera2/usb_cam2/image_raw" /> 

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file2"             default="$(find darknet_ros)/config/ros.yaml"/>
  <arg name="network_param_file2"         default="$(find darknet_ros)/config/yolov3_delivery.yaml"/>
  
  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros2" file="$(arg ros_param_file2)"/>
  <rosparam command="load" ns="darknet_ros2" file="$(arg network_param_file2)"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros2" launch-prefix="$(arg launch_next)" respawn="true">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <remap from="camera/rgb/image_raw"  to="$(arg image2)" />
  </node>

 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>