<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- usb_cam node-->
  <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="25"/>
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node> -->

  <!-- yolo -->
  <!-- <include file="$(find darknet_ros)/launch/darknet_ros_final.launch" /> -->

  <!-- vision_distance -->
  <!-- <node pkg="vision_distance" type="delivery_mission.py" name="delivery_mission"/> -->

  <node pkg="delivery_mission" type="straight_test2" name="straight_test2" output="screen"/>

  <!-- lidar(obstacle) -->
  <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
  <node pkg="lidar_team_erp42" type="delivery" name="delivery" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_team_erp42)/rviz/delivery.rviz" /> -->

  <!-- for serial control -->
  <node pkg="race" type="serial_control_node" name="serial_control_node" />

</launch>
